<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->
<h1><%= @title %></h1>
<p>Your code: <%= @val_code %> </p>

<%= form_tag :action => 'home' do %>

   <p>Enter your name: </p>

   <%= text_area_tag 'user_code', :cols => "80", :rows => "10", @val_code %>

   <%= submit_tag 'Validate' %>

<% end %>

<%= @result.each do |iter| %>
   <h1><%= iter %></h1>
<% end %>
