<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->

<script>
$(function() {
	$("#user_code").linedtextarea();
	/*$("#zebra_table").linedtextarea();*/
});
</script>

<h1><%= @title %></h1>
<p>Your code: <%= @val_code %> </p>

<%= form_tag :action => 'home' do %>

   <%= text_area_tag 'user_code',  @val_code %>

   <%= submit_tag 'Validate' %>

<% end %>

<div id="zebra_table">
	<table class="stripeMe">
	<% @result.each do |iter| %>
		<tr><td><%= iter %></td></tr>
	<% end %>
	</table>
</div><!-- end zebra_table -->
