<!--<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>-->

<script>
$(function() {
	$("#user_code").linedtextarea();
});
</script>

<h1><%= @title %></h1>
<p>Your code: <%= @val_code %> </p>

<%= form_tag :action => 'home' do %>

   <%= text_area_tag 'user_code',  @val_code %>

   <%= submit_tag 'Validate' %>

<% end %>

<ul>
<%= @result.each do |iter| %>
   <li><%= iter %></li>
<% end %>
</ul>
